*{
    margin:0;
    padding:0;
}
html{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: 10px 40px;
    padding: 10px 40px;
}

p{
    padding: 10px 15px 0 0;
}

.imgclass{
    border: 3px solid #391d05
}

.h2class{
    font-weight: bold;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto); 
  }
  .image {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  
  .features-block span {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .features-block span > picture {
    margin: auto;
  }
  


/* .h3class{
    color: rgb(98, 38, 16);
    font-style: normal;
    font-weight: 700;
    font-size: 1,5rem;
    line-height: 4rem; */
/* } */
/* отступ */

/* a{
    color: red;
    text-decoration: none;
}

.h3class:hover{
    color:blueviolet;
}

a:hover{
    color: blue;
} */